@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .article {
        @apply w-full mb-6 lg:w-1/3 md:w-1/2 md:pl-2 lg:px-2 lg:mb-0;
    }

    .label {
        @apply block mb-2 text-xs font-semibold tracking-wide text-gray-900 uppercase;
    }

    .input {
        @apply block w-full p-3 text-gray-800 placeholder-gray-400 border border-gray-300 rounded;
    }

    .input:focus {
        @apply transition border-gray-400 shadow outline-none;
        background-clip: padding-box;
        box-shadow: 0 0 0 0.2rem theme('colors.gray.200');
    }

    .input::placeholder {
        @apply text-gray-700;
    }

    .form-group {
        @apply  w-full pr-2 mb-4 lg:w-1/3 lg:mb-1 md:w-1/3;
    }

    .sr-only {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
    }

    .transition {
        transition: ease .4s;
    }

    .text-xxs {
        font-size: 0.60rem;
        line-height: 1rem;
    }

    .text-3xlp {
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .text-cyan {
        color: #008f94
    }
    
    .bg-cyan {
        background-color: #008f94;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
      }

    .m-left {
        @apply lg:ml-10 !important pb-7 !important;
      }

    .active {
          @apply pb-4 font-semibold border-b-2 border-gray-800;
      }
      
    .b-left {
          @apply border-l-8 border-blue-600;
      }


    .bottomMenu {
        position: fixed;
        border-bottom: 1px solid #fafafa;
        background: #faf0fa;
        transition: all 100ms;
        display: flex !important;
        justify-content: flex-start !important;
        align-items: center !important;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px !important;
        background-color: rgb(255, 255, 255) !important;
        opacity:0;
        left: 0px !important;
        right: 0px !important;
        top: 0px !important;
        z-index: 20 !important;
        padding:1rem;
        margin-left:auto;
        margin-right:auto;
    }

    .hide {
        opacity:0;
       
    }
    
    .show {
        opacity:1;
      
    }

    .lg-only {
        @apply hidden lg:block md:block !important;
    }

    .link-active:hover {
        border-bottom: 2px solid #000;
        padding-bottom:20px;
    }
    

    .btn {
        box-sizing: border-box;
        cursor: pointer !important; 
        display: inline-block !important;
        margin: 0px !important;
        position: relative !important;
        text-align: center !important;
        text-decoration: none !important;
        width: auto !important;
        touch-action: manipulation !important;
        font-size: 16px !important;
        line-height: 20px !important;
        font-weight: 600 !important;
        border-radius: 8px !important;
        border-width: 1px !important;
        border-style: solid !important;
        outline: none !important;
        padding: 13px 23px !important;
        border-color: rgb(34, 34, 34) !important;
        background: rgb(255, 255, 255) !important;
        color: rgb(34, 34, 34) !important;
        transition: all 0s ease 0s !important;
    }

    .btn:hover {
        border-color: rgb(0, 0, 0) !important;
        background: rgb(247, 247, 247) !important;
        color: rgb(34, 34, 34) !important;
    }
}
